accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
coloredlogs
datasets
ddddocr
dill
dlib
filelock
flatbuffers
frozenlist
fsspec
huggingface-hub
humanfriendly
idna
jieba
Jinja2
joblib
loguru
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
onnxruntime
opencv-python
packaging
pandas
pillow
propcache
protobuf
psutil
pyahocorasick
pyarrow
pycorrector
pypinyin
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
setuptools
six
sympy
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
paddlepaddle
paddleocr
insightface